<!doctype html>
<html lang="en" ng-app="indexApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Crud</title>
    <!--<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body ng-controller="indexCtrl">

<div ng-controller="heroBannerController">
    <!--hero banner -->
    <hero-banner-directive src="imageObj" alt="imageObj"></hero-banner-directive>
</div>

<div class="container">
    <h1 ng-bind="mainHeadingMessage"></h1>
    <form name="myForm" class="form-group" ng-cloak>
        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input id="inputName" type="text" name="firstName" ng-model="student.firstName" ng-minlength="5" required>
            <label for="inputName">Name</label>
            <span class="text-danger" ng-show="myForm.firstName.$error.required">Name is required</span>
            <span class="text-danger" ng-show="myForm.firstName.$error.minlength">Minlength 5 is required</span>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input id="inputEmail" type="email" name="emailValue" ng-model="student.emailValue" required>
            <label for="inputEmail">Email</label>
            <span class="text-danger" ng-show="myForm.emailValue.$error.required">Email is required</span>
            <span class="text-danger" ng-show="myForm.emailValue.$error.pattern">Not a valid email</span>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">create</i>
            <input id="inputPassword" type="password" name="passwordValue" ng-model="student.passwordValue" required>
            <label for="inputPassword">Password</label>
            <span class="text-danger" ng-show="myForm.passwordValue.$error.required">Password is required</span>
            <span class="text-danger" ng-show="myForm.passwordValue.$error.pattern">Please enter </span>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">&#xE87C;</i>
            <select ng-model="student.selectedGen">
                <option value="" hidden selected>Please select</option>
                <option ng-repeat="gen in gender" on-finish-render="onFinishRender">{{gen}}</option>
            </select>
            <label>Gender</label>
        </div>

        <button type="submit" class="btn teal lighten-2" ng-show="booleanObj.showSaveBtn" ng-disabled="myForm.$invalid || myForm.$pending" ng-click="saveFunc()">Save</button>
        <div ng-show="booleanObj.showUpdateBtn">
            <button type="submit" class="btn teal lighten-2" ng-disabled="myForm.$invalid || myForm.$pending" ng-click="updateFunc(student, indexVar)"  ng-cloak>Update</button>
        </div>
        
    </form>

    <!--alert message on deleteing-->
    <div class="red lighten-3 deletedMsz" ng-show="showDeletedMsz" ng-cloak>
        <strong>Congrats!</strong> Deleted successfully...
    </div>

    <!--table-->
    <div ng-show="studentArr.length > 0 " ng-cloak>
        <div>
            <h2>Information of students</h2>
            <input class="form-control margin-t24" ng-model="searchText" type="text" placeholder="Search by Name & Email">
        </div>
        <table class="table highlight responsive-table" width="100%">
            <thead>
            <tr>
                <th>NO.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in (studentArr | filter : search) track by $index ">
                <td>{{$index + 1}}</td>
                <td>{{student.firstName}}</td>
                <td>{{student.emailValue}}</td>
                <td>{{student.selectedGen}}</td>
                <td>
                    <button type="submit" class="btn red lighten-3" data-toggle="modal"
                            ng-show="booleanObj.showDeleteBtn" ng-click="showDeleteModal($index)">Delete</button>
                    <button type="submit" ng-show="booleanObj.showEditBtn" class="btn teal lighten-2" ng-click="onEditFunc(student, $index)">Edit</button>
                    <button type="submit" ng-show="booleanObj.showCancelBtn" class="btn grey darken-3" ng-click="onCancelFunc()">Cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-controller="heroBannerController">
    <!--hero banner footer-->
    <hero-banner-directive src="imageObjFooter" alt="imageObjFooter" my-name="{{myName}}"></hero-banner-directive>

</div>


<!-- Modal -->
<div id="deleteModal" class="modal" ng-cloak>
    <div class="modal-content">
        <h4>Do you want to Delete?</h4>
    </div>
    <div class="modal-footer">
        <button class="red lighten-3 modal-action modal-close waves-effect waves-green btn-flat" type="button" ng-click="deleteFunc()">Yes</button>
        <button class="btn teal lighten-2 modal-action modal-close waves-effect waves-green btn-flat" type="button" >No</button>
    </div>
</div>


<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="js/indexService.js"></script>
<script src="js/index.js"></script>
<script src="js/header.js"></script>
</body>
</html>