.margin-reset{
  margin: 0 !important
}

.margin-t0{
  margin-top: 0 !important
}

.margin-b0{
  margin-bottom: 0 !important
}

.margin-l0{
  margin-left: 0 !important
}

.margin-r0{
  margin-right: 0 !important
}

.margin-t24{
  margin-top: 24px !important
}

.margin-b24{
  margin-bottom: 24px !important
}

.margin-l24{
  margin-left: 24px !important
}

.margin-r24{
  margin-right: 24px !important
}